html, body {
	height: 100%;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Work Sans', sans-serif;
	scroll-behavior: smooth;
}
footer {
	color: white;
	font-size: 1rem;
	margin: 0;
	padding: 1rem;
}
a {
	color: white;
	text-decoration: none;
}
.nav-link:hover {
	text-decoration: underline;
}
.gradient {
	background: rgb(124,132,236);
	background: linear-gradient(90deg, rgba(124,132,236,1) 0%,
	rgba(115,0,255,1) 51%, rgba(92,9,121,1) 100%); 
}
.page-header {
	margin-top: 4rem;
	color: white;
}
.feature {
	color: white;
	padding-bottom: 23px;
}
.feature ul {
	padding-left: 2rem;
	list-style-type: none;
}
.feature ul li {
	padding-left: 2rem;
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	line-height: 1.5rem;
	margin-bottom: 1rem;
}
.icon {
	color: white;
	height: 5rem;
	width: 5rem;
	font-size: 1.75rem;
	border-radius: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.gallery {
	background: rgb(222,223,233);
	background: linear-gradient(90deg, rgba(222,223,233,1) 0%,
	rgba(255,255,255,1) 51%, rgba(217,217,217,1) 100%); 
}
.gallery img {
	border-radius: 5%;
}
.services {
	color: white;
	padding-bottom: 10px;
}
.inputs::placeholder {
	color: #FFA4A4;
}